.instructions {
  height: 40%;
  padding: 1em;
}

.instructions__header {
  text-align: center;
  margin-bottom: 2em;
  padding: 1em;
  border-bottom: 5px dashed black;
}

.instructions__text {
  margin-bottom: 10px;
}
