.counter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background: lightblue;
}

.counter__count,
.btn__container,
.counter__add {
  grid-column-start: 1;
  grid-column-end: 6;
}

.counter__count {
  background: lightgreen;
  display: flex;
  justify-content: space-evenly;
}

.counter__add {
  background: pink;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  padding: 1em;
}

.counter__decrement,
.counter__increment,
.counter__num {
  padding: 1em;
  display: block;
  width: 25%;
  text-align: center;
}
