:root {
  --primary-color: #f7f7ff;
  --secondary-color: #f2d0a4;
  --tricery-color: #3f826d;
}

.imgContainer {
  height: 200px;
  background: var(--tricery-color);
}

.img,
.imgContainer,
.container__form,
.container_fieldset,
.container__navlink,
.container__boxCount,
.container__itemCount,
.container__navlinkBtn,
.counts .container__navlink,
.counts .container__navlinkBtn {
  width: 100%;
}

.buttons,
.container,
.valueLabel,
.dropdownLabel,
.locationLabel,
.container_fieldset,
.container__navlinkBtn,
.fragile__checkboxLabel,
.container__btn__camera,
.container__btn__submit,
.container__btn__delete {
  padding: 0.5rem;
}

.buttons,
.valueLabel,
.counts,
.dropdownLabel,
.locationLabel,
.container__itemCount,
.fragile__checkboxLabel,
.counts .container__navlink {
  display: flex;
}

.buttons,
.valueLabel,
.dropdownLabel,
.locationLabel,
.fragile__checkboxLabel {
  justify-content: space-between;
}

select,
.fragile__checkbox,
.container__navlinkBtn,
.container__btn__camera,
.container__btn__submit,
.container__btn__delete,
.fragile__checkboxLabel {
  border-radius: 5px;
}

input[type="text"] {
  border-bottom: 1px solid black;
}

.fragile__checkboxLabel {
  align-items: center;
  width: 90px;
}

.formControl {
  width: 50%;
}

.formControl:focus {
  background: var(--secondary-color);
}

.container {
  background: var(--primary-color);
}

.container__btn__submit {
  background: lightgreen;
}

.container__btn__delete {
  background: salmon;
}

.container__btn__camera {
  background: lightblue;
}

.container__navlinkBtn {
  border: 2px solid lightgray;
}

.imgInputFile {
  display: none;
}

.container__boxCount,
.container__itemCount {
  justify-content: space-around;
  align-items: center;
}

.counts {
  justify-content: space-around;
}

.counts .container__navlink {
  justify-content: center;
}
