*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  border: 1px solid red;
}

.boxDetail__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boxDetail__image {
  border: 5px solid green;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  background: red;
}

.form-group {
  background: blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.locationLable {
  background: green;
}

.moveNameLabel {
  background: green;
  color: yellow;
  width: 25%;
}

.boxDetail__value {
  background: green;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.boxDetail__summary {
  background: lightblue;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}

.boxDetail__itemCount {
  background: orange;
  display: flex;
  width: 25%;
  justify-content: space-between;
  padding: 0.5em;
}

.boxDetail__linkBtn--edit {
  background: orange;
  width: 100%;
  padding: 0.5em;
}

.lowerRow {
  display: flex;
  background: orange;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.fragile {
  background: green;
  display: flex;
  width: 25%;
}

.btn--submit-boxes {
  background: lightgreen;
  display: block;
  padding: 1em;
}

.form-control {
  width: 100%;
  margin: 0 auto;
}

.boxDetail__linkBtn--viewMove {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

/* 
.boxDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxDetail__image {
  border: 5px solid green;
  width: 90%;
}

.boxDetail__location,
.boxDetail__value,
.boxDetail__itemSummary,
label,
#usersMoves,
.lowerRow {
  border: 1px solid blue;
  padding: 1em;
  width: 90%;
}

.boxDetail__location,
.boxDetail__value {
  display: flex;
  justify-content: space-between;
}

.boxDetail__itemSummary,
.boxDetail__itemCount,
.boxDetail__linkBtn--edit {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  align-items: center;
}

.boxDetail__itemCount {
  background: lightgreen;
  flex: 0.5 1 100px;
}

.boxDetail__linkBtn--edit {
  background: pink;
  display: block;
  flex: 3 1 100px;
}

label {
  text-align: center;
}

.boxDetail__linkBtn--viewMove {
  background: lightgreen;
  display: block;
  width: 100%;
  padding: 1em;
}

Link {
  padding: 5em;
}

.fragile {
  display: flx;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  grid-column-start: 3;
  grid-column-end: 4;
}

.checkBox {
  height: 10px;
  width: 10px;
  background: white;
  padding: 0.2em;
}

.item__linkBtn--delete {
  padding: 0.2em;
  width: 70px;
}

.item__linkBtn--delete {
  margin-left: 1em;
  background: salmon;
} */
