.summary {
  padding: 0.5em;
  background: yellow;
}

.summary__header {
  background: red;
  text-align: center;
}

.usersMovesLabel {
  background: orange;
  padding: 0.5em;
  display: block;
}

.formControl {
  background: rgb(150, 155, 155);
  padding: 0.5em;
  display: block;
  flex: 25%;
}

.container__formGroup {
  display: flex;
}
