*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  border: 1px solid blue;
}

.boxSummaryList {
  padding: 0.5em;
}

.boxSummaryList__header {
  background: blue;
  text-align: center;
}
