.summaryList {
  border: 2px solid green;
  padding: 1em;
  width: 90%;
  background: lightgray;
}

.summaryList__header {
  text-align: center;
  color: green;
  margin-bottom: 20px;
  border: 1px solid red;
  background: lightblue;
}

.summaryList__headerbox {
  display: flex;
  border: 2px solid green;
  justify-content: center;
  align-items: center;
}

.summaryList__logo {
  width: 25%;
}

/* .summaryList__header {
  width: 50%;
} */
