.summary {
  border: 2px solid black;
  text-align: center;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.summary__dataLength {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
}

.summary__dataType,
.summary__btnContainer {
  grid-column-start: 2;
  grid-column-end: 5;
  background: lightgreen;
}

.summary__btn--view {
  /*
    Could not get btn to work with grid and strech across columns.
  */
  display: block;
  width: 100%;
  height: 100%;
  background: pink;
}
