.itemSummaryList {
  padding: 0.5em;
}

.itemSummaryList__header {
  background: red;
  text-align: center;
}

.usersBoxesLabel {
  background: lightblue;
  padding: 1em;
  width: 100%;
  display: block;
}
