.landingPage,
.landingPage__banner,
.landingPage__banner figure,
.landingPage__banner img,
.landingPage__header {
  width: 100%;
}

.landingPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.landingPage__btn__register,
.landingPage__btn__login {
  width: 200px;
  padding: 0.5em;
}

.landingPage__header {
  text-align: center;
}
