*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  /* border: 1px solid red; */
}

.landingPage {
  width: 100vw;
  height: 100vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.landingPage__banner,
.landingPage__banner figure,
.landingPage__banner img {
  width: 100%;
}

.landingPage__banner img,
.landingPage__banner figcaption,
.landingPage__banner p {
  padding: 0.8em;
}

.landingPage__btn--register,
.landingPage__btn--login {
  width: 200px;
  padding: 0.5em;
}
