*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  /* border: 1px solid orangered; */
}

.navbar__ul {
  display: flex;
  border-bottom: 1px solid blue;
  justify-content: space-around;
  padding: 0.5em;
}

.navbar__li {
  padding: 0.2em;
}
