/* .container--login {
  height: 100vh;
}

.containerform--login {
  height: 90vh;
  background: lightsalmon;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container__fieldset {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 0.8em;
}

.container__fieldset label,
.container__fieldset .form-control {
  padding: 1em;
}

.container__btn--submit {
  padding: 2em;
  justify-self: center;
  border: 1px solid blue;
  border-radius: 10px;
}

.dialog {
  width: 80%;
  height: 400px;
  padding: 1em;
  border: 5px solid red;
  border-radius: 10px;
  margin-top: 40%;
  margin-left: 10%;
  text-align: center;

  
  flexblox causes button to stop responding 

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dialog__message {
  padding: 1em;
  border-bottom: 5px dashed red;
}
.button--close {
  width: 50%;
  padding: 1em;
  background: green;
  border-radius: 10px;
  margin-top: 80%;
}

.link--register {
  padding: 1em;
  text-align: center;
  background: lightsalmon;
}

.container__register--link {
  background: lightsalmon;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 1em;
} */
