.login_page {
  height: 100%;
}

.login_page__form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login_page__header,
.login_page__register__link,
.login_page__fieldset {
  width: 80%;
}

.login_page__register__link {
  text-align: center;
}

.emailLable,
.login_page__btn__submit,
.formControl,
.login_page__register__link {
  border-radius: 10px;
  padding: 1rem;
}

.login_page__btn__submit,
.login_page__register__link {
  display: block;
}

.login_page__fieldset {
  display: flex;
}

.login_page__fieldset,
.login_page__register__link,
.login_page__form {
  margin: 0 auto;
}

.login_page__register__link,
.login_page__btn__submit,
.formControl {
  border: 1px solid blue;
}
