.registration {
  height: 100vh;
}

.registration__form__login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.registration__header,
.registration__fieldset,
.registration__btn__submit,
.formControl {
  border-radius: 10px;
}

.registration__header {
  width: 80%;
}

.registration__form__login,
.registration__fieldset label,
.registration__btn__submit,
.formControl {
  padding: 1rem;
}

.registration__btn__submit {
  display: block;
}

.registration__fieldset {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.registration__btn__submit,
.formControl {
  border: 1px solid blue;
}
