:root {
  --primary-color: #f7f7ff;
  --secondary-color: #f2d0a4;
  --tricery-color: #3f826d;
}

.summary {
  padding: 0.2em;
  background: var(--primary-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.summary__header {
  text-align: center;
}

.summary__form {
  width: 100%;
}

.summary__formGroup {
  display: flex;
  width: 100%;
}

.moveNameLabel {
  padding: 0.5em;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.moveNameLabel input {
  width: 100%;
}

.formControl {
  /* background: rgb(150, 155, 155); */
  background: var(--secondary-color);
  padding: 0.5em;
  display: block;
  flex: 25%;
}
