*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-wrap: break-word;

  border: 1px solid black;
}

.moveSummaryList {
  padding: 0.5em;
}

.moveSummaryList__header {
  background: pink;
  text-align: center;
}

.moveSummaryList__form {
  background: lightblue;
  padding: 1em;
}

.form-group {
  padding: 1em;
  width: 90%;
  margin: 0 auto;
  /* background: red; */
  display: flex;
}
