:root {
  --primary-color: #f7f7ff;
  --secondary-color: #f2d0a4;
  --tricery-color: #3f826d;
}

.container {
  background: var(--primary-color);
}

.container__form,
.container_fieldset,
.container__navlink,
.container__boxCount,
.container__itemCount,
.container__navlinkBtn,
.counts .container__navlink,
.counts .container__navlinkBtn {
  width: 100%;
}

.buttons,
.container,
.valueLabel,
.moveNameLabel,
.container_fieldset,
.container__navlink,
.container__navlinkBtn,
.fragile__checkboxLabel,
.container__btn__delete,
.container__btn__submit {
  padding: 0.5rem;
}

.counts,
.buttons,
.valueLabel,
.moveNameLabel,
.container__navlink,
.container__boxCount,
.container__itemCount,
.fragile__checkboxLabel,
.counts .container__navlink {
  display: flex;
}

.buttons,
.valueLabel,
.moveNameLabel,
.fragile__checkboxLabel {
  justify-content: space-between;
}

.counts {
  justify-content: space-around;
}

.counts .container__navlink {
  justify-content: center;
}

.container__boxCount,
.container__itemCount {
  justify-content: space-around;
  align-items: center;
}

.fragile__checkbox,
.container__navlink,
.container__navlinkBtn,
.fragile__checkboxLabel,
.container__btn__submit,
.container__btn__delete {
  border-radius: 5px;
}

.container__navlinkBtn {
  border: 2px solid lightgray;
}

.counts .container__navlink {
  justify-content: center;
}

.fragile__checkboxLabel {
  align-items: center;
  width: 90px;
}

.formControl {
  width: 50%;
}

.formControl:focus {
  background: var(--secondary-color);
}

.container__btn__submit {
  background: lightgreen;
}

.container__btn__delete {
  background: salmon;
}
