:root {
  --primary-color: #f7f7ff;
  --secondary-color: #f2d0a4;
  --tricery-color: #3f826d;
}

.summary {
  /* background: var(--secondary-color); */
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0.5rem;
  border-bottom: 2px solid black;
}

.summary__boxCount,
.summary__itemCount {
  grid-column-start: 1;
  grid-column-end: 4;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary__boxCount {
  grid-row-start: 2;
  grid-row-end: 2;
}

.summary__itemCount {
  grid-row-start: 3;
  grid-row-end: 3;
}

.summary__move,
.summary__value {
  grid-column-start: 7;
  grid-column-end: 10;
  display: flex;
  align-items: center;
}

.summary__move__move,
.summary__value__value {
  grid-column-start: 10;
  grid-column-end: 13;
}

.fragile__checkboxLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fragile__checkbox {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.summary__navlinkBtn__edit,
.summary__btn__delete {
  border-radius: 10px;
  padding: 0.5rem;

  grid-row-start: 3;
  grid-row-end: 3;
}

.summary__btn__delete {
  grid-column-start: 10;
  grid-column-end: 13;
  background: salmon;
}

.summary__navlink__edit {
  grid-column-start: 7;
  grid-column-end: 10;
  display: block;
  grid-row-start: 3;
  grid-row-end: 3;
}

.summary__navlinkBtn__edit {
  background: lightgreen;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
