.moveDetailForm {
  background: red;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.form-group {
  background: blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.moveNameLabel {
  background: green;
  color: yellow;
  width: 25%;
}

.form-control {
  background: pink;
  color: blue;
  width: 60%;
}

.moveDetail__value {
  background: green;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.moveDetail__boxSummary {
  background: lightblue;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}

.moveDetail__boxCount {
  background: orange;
  display: flex;
  width: 25%;
  justify-content: space-between;
  padding: 0.5em;
}

.moveDetail__linkBtn--edit {
  background: orange;
  width: 100%;
  padding: 0.5em;
}

.lowerRow {
  display: flex;
  background: orange;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.fragile {
  background: green;
  display: flex;
  width: 25%;
}

.btn--submit-moves {
  background: lightgreen;
  display: block;
  padding: 1em;
}
